<!DOCTYPE html>
<html>
  <head>
    <title>status</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>status</h1>
    <p>temperature <%= temperature %></p>
    <p>humidity <%= humidity %></p>
    <p>Soil <%= Soil %></p>
    <p>Light <%= Light %></p>    
  </body>
</html>

